<!doctype html>
<html>
<h1>Enter either GET or POST data</h1>
	<meta charset="UTF-8">
	<form action = "/get" method="get"><br>
		<fieldset>
			<legend>Some GET Data</legend>
		<div class = "text_here">Text here:	<input type="text" name="GET Data"></br></div>
		<input type="submit" value="Submit"></div>
	</fieldset>
	</form>	
	<br></br>
	<form action = "/get" method="post"><br>
		<fieldset>
			<legend>Some Post Data</legend>
		<div class = "text_here">Text here:	<input type="text" name="POST Data"></br></div>
		<div class = "text_here">Text here:	<input type="text" name="POST Data2"></br></div>
			<input type="submit" value="Submit"></div>
	</fieldset>
	</form>	
</html>